body {
    background-color: rgb(252, 247, 247);
}

header {
    font-size: 8rem;
    font-weight: bold;
    color: rgb(236, 120, 120);
    text-align: center;
}

form, footer {
    display: flex;
    justify-content: center;
    padding: 3rem;
    flex-direction: column;
    align-items: center;
    border: none;
}
ul {
    padding-top: 0;
}
.input-area {
    box-sizing: border-box;
    padding: 1rem;
    width: 40vw;
    text-align: left;
    box-shadow: 2px 2px 20px rgb(220, 217, 217);
    border: none;
    line-height: 1.5rem;
    word-spacing: .2rem;
    color: black;
}
.delete {
    background-color: red;
    color: white;
    border: none;
    width: 1rem;
    height: 1rem;
    float: right;
    padding: 0;
}

.list-group-item {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 40vw;
    padding: 1rem;
    background-color: white;
    border: 1px solid rgb(233, 230, 230);
    text-align: left;
}

.round {
    position: relative;
  }
  
  .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 18px;
    left: 0;
    position: absolute;
    top: 0;
    width: 18px;
  }
  
  .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 3px;
    opacity: 0;
    position: absolute;
    top: 4px;
    transform: rotate(-45deg);
    width: 12px;
  }
  
  .round input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
    border-color: #66bb6a;
  }
  
  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
  footer {
      flex-direction: row;
      /* width: 40vw; */
      padding: 3rem;
      justify-content: space-between;
      background-color: blanchedalmond;
  }
.hide {
  visibility: hidden;
  display: none;
}
.show {
  visibility: visible;
}
.text-style {
  text-decoration: none;
}